<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced.  * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<mat-card class="cardd">
  <mat-card-header>
    <mat-card-title>Bem-vindo ao Angular Material</mat-card-title>
    <mat-card-subtitle>Exemplo de Card</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <p>
      O Angular Material ajuda a criar UIs modernas e responsivas com facilidade!
    </p>
  </mat-card-content>

  <mat-card-actions>
    <button class="botao" mat-button color="primary">Curtir</button>
    <button class="botao" mat-button color="accent">Compartilhar</button>
  </mat-card-actions>
</mat-card>

